<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mate.im.user.infrastructure.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mate.im.user.domain.entity.User">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="nick_name" property="nickName" />
        <result column="password_hash" property="passwordHash" />
        <result column="email" property="email" />
        <result column="telephone" property="telephone" />
        <result column="gender" property="gender" />
        <result column="birth_date" property="birthDate" />
        <result column="user_signature" property="userSignature" />
        <result column="avatar" property="avatar" />
        <result column="state" property="state" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="invite_code" property="inviteCode" />
        <result column="inviter_id" property="inviterId" />
        <result column="user_role" property="userRole" />
        <result column="deleted" property="deleted" />
        <result column="lock_version" property="lockVersion" />
    </resultMap>

</mapper>
